/**
 * @author Cesar Verduzco Reyna <cesar11augusto95@hotmail.com> 
 * @description variables to use in this projects
 * @version 1.0
 * * Version description:
 * v1.0 Created Document
 * @date Created at 16/06/2021 Last Modified at 16/06/2021 
 * @status In Used
*/

$primaryColor: #000000;
$secundaryColor: #ffffff;
$thirdColor : #34A4A3;
$backgroundOpacity : rgba(0,0,0,0.8);
$sizeTitle: 2.4em;
$sizeText: 1em;
$heightBasic: 100vh;